<div>
    <h2>
        <span jhiTranslate="aimyApp.modus.home.title">Moduses</span>
        <button class="btn btn-primary float-right jh-create-entity create-modus" [routerLink]="['/', { outlets: { popup: ['modus-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="aimyApp.modus.home.createLabel">
            Create new Modus
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="moduses">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nummer"><span jhiTranslate="aimyApp.modus.nummer">Nummer</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="aimyApp.modus.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="bearbeitungsfaktor"><span jhiTranslate="aimyApp.modus.bearbeitungsfaktor">Bearbeitungsfaktor</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="bearbeitungsabweichung"><span jhiTranslate="aimyApp.modus.bearbeitungsabweichung">Bearbeitungsabweichung</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lieferfaktor"><span jhiTranslate="aimyApp.modus.lieferfaktor">Lieferfaktor</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lieferabweichung"><span jhiTranslate="aimyApp.modus.lieferabweichung">Lieferabweichung</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="mengenfakor"><span jhiTranslate="aimyApp.modus.mengenfakor">Mengenfakor</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="mengenabweichung"><span jhiTranslate="aimyApp.modus.mengenabweichung">Mengenabweichung</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="preisfaktor"><span jhiTranslate="aimyApp.modus.preisfaktor">Preisfaktor</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="diskontfaktor"><span jhiTranslate="aimyApp.modus.diskontfaktor">Diskontfaktor</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="bestellkostenfaktor"><span jhiTranslate="aimyApp.modus.bestellkostenfaktor">Bestellkostenfaktor</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let modus of moduses ;trackBy: trackId">
                <td><a [routerLink]="['../modus', modus.id ]">{{modus.id}}</a></td>
                <td>{{modus.nummer}}</td>
                <td>{{modus.name}}</td>
                <td>{{modus.bearbeitungsfaktor}}</td>
                <td>{{modus.bearbeitungsabweichung}}</td>
                <td>{{modus.lieferfaktor}}</td>
                <td>{{modus.lieferabweichung}}</td>
                <td>{{modus.mengenfakor}}</td>
                <td>{{modus.mengenabweichung}}</td>
                <td>{{modus.preisfaktor}}</td>
                <td>{{modus.diskontfaktor}}</td>
                <td>{{modus.bestellkostenfaktor}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../modus', modus.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'modus/'+ modus.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'modus/'+ modus.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="moduses && moduses.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
