<form name="saveForm" role="form" novalidate (ngSubmit)="save()" #saveForm="ngForm">
    <div>
        <h2>
            <span jhiTranslate="direktverkauf_und_normalverkauf.title">Direktverkauf und Normalverkauf</span>
        </h2>
        <jhi-alert></jhi-alert>
        <div>
            <p class="lead"><span jhiTranslate="direktverkauf_und_normalverkauf.normalverkauf">Normalverkauf</span></p>
        </div>
    </div>
    <div class="table-responsive" *ngIf="teils">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span jhiTranslate="aimyApp.teil.teiltyp">Teiltyp</span></th>
                <th><span jhiTranslate="aimyApp.teil.nummer">Nummer</span></th>
                <th><span jhiTranslate="aimyApp.teil.vertriebswunsch">Vertriebswunsch</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let teil of teils ;trackBy: trackId">
                <td jhiTranslate="{{'aimyApp.Teiltyp.' + teil.teiltyp}}">{{teil.teiltyp}}</td>
                <td>{{teil.nummer}}</td>
                <td>
                <div class="form-group">
                    <input type="number" class="form-control" name="vertriebswunsch" id="field_vertriebswunsch"
                           [(ngModel)]="teil.vertriebswunsch" required min="0" />
                </div>
            </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <p class="lead"><span jhiTranslate="direktverkauf_und_normalverkauf.direktverkauf">Direktverkauf</span></p>
    </div>
    </div>
    <div class="table-responsive" *ngIf="teils">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span jhiTranslate="aimyApp.teil.teiltyp">Teiltyp</span></th>
                <th><span jhiTranslate="aimyApp.teil.nummer">Nummer</span></th>
                <th><span jhiTranslate="aimyApp.teil.direktverkaufmenge">Direktverkaufsmenge</span></th>
                <th><span jhiTranslate="aimyApp.teil.direktverkaufspreis">Direktverkaufspreis</span></th>
                <th><span jhiTranslate="aimyApp.teil.strafe">Strafe</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let teil of teils ;trackBy: trackId">
                <td jhiTranslate="{{'aimyApp.Teiltyp.' + teil.teiltyp}}">{{teil.teiltyp}}</td>
                <td>{{teil.nummer}}</td>
                <td>
                    <div class="form-group">
                        <input type="number" class="form-control" name="direktverkaufmenge" id="field_direktverkaufmenge"
                               [(ngModel)]="teil.direktverkaufmenge" min="0"/>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input type="number" class="form-control" name="direktverkaufspreis" id="field_direktverkaufspreis"
                               [(ngModel)]="teil.direktverkaufspreis" min="0"/>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input type="number" class="form-control" name="strafe" id="field_strafe"
                               [(ngModel)]="teil.strafe" min="0"/>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <button type="submit"
                (click)="previousState()"
                class="btn btn-info">
            <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
        </button>
        <button type="submit" [disabled]="saveForm.form.invalid || isSaving"
                class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
        <button class="btn btn-primary" [routerLink]="['/in-house_production']"
                replaceUrl="true">
            <span jhiTranslate="entity.action.next"> Weiter</span>
        </button>
    </div>
</form>
