<form name="saveForm" role="form" novalidate (ngSubmit)="save()" #saveForm="ngForm">
    <div>
      <h2>
          <span jhitranslate="period_start.title">Starte Periode</span>
      </h2>
      <jhi-alert></jhi-alert>
        <p class="lead">Wähle die Datei aus um die Eingabedaten aus der Datei zu erhalten: </p>
      <div class="form-group">
        <input type="file" class="form-control-file" id="file" accept="text/xml" aria-labelledby="Dateiimport der Planungsdaten" (change)="changeListener($event)"> </div>
      <h3>
        <p>Vorschau der Datei: </p>
      </h3>
        <span>{{text}}</span>
    </div>
    <div>
        <span>{{message}}</span>
       <!-- <div *ngFor="let teil of teils">{{teil.id}}</div>-->
    </div>
    <div>

        <button type="submit" [disabled]="saveForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
        <button class="btn btn-primary" [routerLink]="['/direketverkauf_und_normalverkauf']"
                replaceUrl="true">
            <span>
                Weiter
                </span>
        </button>
    </div>
</form>



