<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myBestellungLabel" jhiTranslate="aimyApp.bestellung.home.createOrEditLabel">Create or edit a Bestellung</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!bestellung.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="bestellung.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aimyApp.bestellung.periode" for="field_periode">Periode</label>
            <input type="number" class="form-control" name="periode" id="field_periode"
                [(ngModel)]="bestellung.periode" required min="0" />
            <div [hidden]="!(editForm.controls.periode?.dirty && editForm.controls.periode?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.periode?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.periode?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.periode?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aimyApp.bestellung.nummer" for="field_nummer">Nummer</label>
            <input type="number" class="form-control" name="nummer" id="field_nummer"
                [(ngModel)]="bestellung.nummer" required min="0" />
            <div [hidden]="!(editForm.controls.nummer?.dirty && editForm.controls.nummer?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nummer?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nummer?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nummer?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aimyApp.bestellung.lieferzeit" for="field_lieferzeit">Lieferzeit</label>
            <input type="number" class="form-control" name="lieferzeit" id="field_lieferzeit"
                [(ngModel)]="bestellung.lieferzeit" min="0" />
            <div [hidden]="!(editForm.controls.lieferzeit?.dirty && editForm.controls.lieferzeit?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.lieferzeit?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.lieferzeit?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aimyApp.bestellung.kaufmenge" for="field_kaufmenge">Kaufmenge</label>
            <input type="number" class="form-control" name="kaufmenge" id="field_kaufmenge"
                [(ngModel)]="bestellung.kaufmenge" min="0" />
            <div [hidden]="!(editForm.controls.kaufmenge?.dirty && editForm.controls.kaufmenge?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.kaufmenge?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.kaufmenge?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aimyApp.bestellung.materialkosten" for="field_materialkosten">Materialkosten</label>
            <input type="number" class="form-control" name="materialkosten" id="field_materialkosten"
                [(ngModel)]="bestellung.materialkosten" min="0" />
            <div [hidden]="!(editForm.controls.materialkosten?.dirty && editForm.controls.materialkosten?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.materialkosten?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.materialkosten?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aimyApp.bestellung.bestellkosten" for="field_bestellkosten">Bestellkosten</label>
            <input type="number" class="form-control" name="bestellkosten" id="field_bestellkosten"
                [(ngModel)]="bestellung.bestellkosten" min="0" />
            <div [hidden]="!(editForm.controls.bestellkosten?.dirty && editForm.controls.bestellkosten?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.bestellkosten?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.bestellkosten?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aimyApp.bestellung.gesamtkosten" for="field_gesamtkosten">Gesamtkosten</label>
            <input type="number" class="form-control" name="gesamtkosten" id="field_gesamtkosten"
                [(ngModel)]="bestellung.gesamtkosten" min="0" />
            <div [hidden]="!(editForm.controls.gesamtkosten?.dirty && editForm.controls.gesamtkosten?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.gesamtkosten?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.gesamtkosten?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aimyApp.bestellung.stueckkosten" for="field_stueckkosten">Stueckkosten</label>
            <input type="number" class="form-control" name="stueckkosten" id="field_stueckkosten"
                [(ngModel)]="bestellung.stueckkosten" min="0" />
            <div [hidden]="!(editForm.controls.stueckkosten?.dirty && editForm.controls.stueckkosten?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.stueckkosten?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.stueckkosten?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aimyApp.bestellung.bestellstatus" for="field_bestellstatus">Bestellstatus</label>
            <select class="form-control" name="bestellstatus" [(ngModel)]="bestellung.bestellstatus" id="field_bestellstatus" >
                <option value="GELIEFERT">{{'aimyApp.Bestellstatus.GELIEFERT' | translate}}</option>
                <option value="UNTERWEGS">{{'aimyApp.Bestellstatus.UNTERWEGS' | translate}}</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aimyApp.bestellung.modus" for="field_modus">Modus</label>
            <select class="form-control" id="field_modus" name="modus" [(ngModel)]="bestellung.modus"  required>
                <option *ngIf="!editForm.value.modus" [ngValue]="null" selected></option>
                <option [ngValue]="modusOption.id === bestellung.modus?.id ? bestellung.modus : modusOption" *ngFor="let modusOption of moduses; trackBy: trackModusById">{{modusOption.nummer}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.modus?.dirty && editForm.controls.modus?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.modus?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aimyApp.bestellung.kaufteil" for="field_kaufteil">Kaufteil</label>
            <select class="form-control" id="field_kaufteil" name="kaufteil" [(ngModel)]="bestellung.kaufteil" >
                <option [ngValue]="null"></option>
                <option [ngValue]="teilOption.id === bestellung.kaufteil?.id ? bestellung.kaufteil : teilOption" *ngFor="let teilOption of teils; trackBy: trackTeilById">Periode: {{teilOption.periode}}, Teilenummer: {{teilOption.nummer}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
