<div>
    <h2>
        <span jhiTranslate="reihenfolge_und_losgroeßensplitting.title">Reihenfolge und Losgrößensplitting</span>
    </h2>
    <jhi-alert></jhi-alert>
    <div>
        <h3>
            <span jhiTranslate="aimyApp.fertigungsauftrag.home.title">Fertigungsaufträge</span>
            <button class="btn btn-primary float-right jh-create-entity create-fertigungsauftrag" [routerLink]="['/', { outlets: { popup: ['fertigungsauftrag-new'] } }]">
                <span class="fa fa-plus"></span>
                <span  jhiTranslate="aimyApp.fertigungsauftrag.home.createLabel">
            Create new Fertigungsauftrag
            </span>
            </button>
        </h3>
        <h4>
            <span jhiTranslate="reihenfolge_und_losgroeßensplitting.info">Runden Sie bitte die Auftragsmengen auf 10, aufgrund der Losgrößen.</span>
        </h4>
    </div>
    <div class="table-responsive" *ngIf="fertigungsauftraege">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span jhiTranslate="aimyApp.fertigungsauftrag.nummer">Nummer</span></th>
                <th><span jhiTranslate="aimyApp.fertigungsauftrag.herstellteil">Herstellteil</span></th>
                <th><span jhiTranslate="aimyApp.fertigungsauftrag.auftragsmenge">Auftragsmenge</span></th>
                <th><span jhiTranslate="aimyApp.fertigungsauftrag.bearbeitungszeitmin">Bearbeitungszeitmin</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let fertigungsauftrag of fertigungsauftraege|orderBy:'nummer';trackBy: trackId">
                <td>
                    <div class="form-group">
                        <input type="number" class="form-control" name="nummer" id="nummer"
                               [(ngModel)]="fertigungsauftrag.nummer" required min="1" />
                    </div>
                </td>
                <td>
                    <div *ngIf="fertigungsauftrag.herstellteil">
                        <a [routerLink]="['../teil', fertigungsauftrag.herstellteil?.id ]" >{{fertigungsauftrag.herstellteil?.nummer}}</a>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input type="number" class="form-control" name="auftragsmenge" id="auftragsmenge"
                               [(ngModel)]="fertigungsauftrag.auftragsmenge" required min="0" />
                    </div>
                </td>
                <td>{{fertigungsauftrag.bearbeitungszeitmin}}</td>
                <td class="text-center" *ngIf="fertigungsauftrag.id">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'fertigungsauftrag/'+ fertigungsauftrag.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary" (click)="berechneBearbeitungszeitmin()">
            </span>&nbsp;<span jhiTranslate="reihenfolge_und_losgroeßensplitting.berechne">Berechne Bearbeitungszeit minimal</span>
        </button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary" [disabled]="isSplitted" (click)="split()">
            </span>&nbsp;<span jhiTranslate="reihenfolge_und_losgroeßensplitting.split">Splitting</span>
        </button>
    </div>
    <div class="btn-group" role="group">
        <label>
            <select>
                <option [ngValue]="null"></option>
                <option (click)="sortKOZ()">
                    </span>&nbsp;<span jhiTranslate="reihenfolge_und_losgroeßensplitting.sortKOZ">Sortieren nach KOZ</span>
                </option>
                <option (click)="sortLOZ()">
                    </span>&nbsp;<span jhiTranslate="reihenfolge_und_losgroeßensplitting.sortLOZ">Sortieren nach LOZ</span>
                </option>
            </select>
        </label>
    </div>

</div>

