<div> 
    <h2>
        <span jhiTranslate="in-house_production.title">Eigenfertigung</span>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
        <h1>
            <p class="lead" >Eigenfertigung Disposition</p> 
        </h1> 
    <div class="table-responsive">
        <table id="in-house_production" class="table table-striped">
             <thead> 
                <tr> 
                        <th class="text-center" jhiTranslate="in-house_production.table.number">Nummer</th> 
                        <th class="text-center" jhiTranslate="in-house_production.table.sales_request">"Vertriebswunsch</th> 
                        <th class="text-center" jhiTranslate="in-house_production.table.safety_stock">Sicherheitsbestand</th>
                        <th class="text-center" jhiTranslate="in-house_production.table.last_period_stock">Bestand Vorperiode</th>
                        <th class="text-center" jhiTranslate="in-house_production.table.waiting_orders">Aufträge in Warteliste</th> 
                        <th class="text-center" jhiTranslate="in-house_production.table.orders_in_progress">Aufträge in Bearbeitung</th>
                        <th class="text-center" jhiTranslate="in-house_production.table.production_orders">Produktionsaufträge(n+1)</th>
                </tr> 
            </thead> 
            <tbody> 
                <tr *ngFor="let element of inhouse_anzeige_array; trackBy: trackId">     
                <td class="text-center">{{element.nummer}}</td>
                <td class="text-center">{{element.vertriebswunsch}}</td>
                <td class="text-center">{{element.sicherheitsbestand}}</td>
                <td class="text-center">{{element.bestand_vorperiode}}</td>            
                <td class="text-center">{{element.auftraege_in_warteliste}}</td>
                <td class="text-center">{{element.auftraege_in_bearbeitung}}</td>
                <td class="text-center">{{element.produktionsauftraege}}</td>
              
                
            </tbody> 
        </table>
    </div>
</div> 
