<form name="saveForm" role="form" novalidate (ngSubmit)="save()" #saveForm="ngForm">
<div>
    <h2>
        <span jhiTranslate="in-house_production.title">Eigenfertigung</span>
    </h2>
    <h3>
        <span>Planen Sie für die Teile 16, 17 und 26 die dreifache Menge ein!</span>
    </h3>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>

    <div class="table-responsive">
        <table id="in-house_production" class="table table-striped">
             <thead>
                <tr>
                        <th class="text-center" jhiTranslate="in-house_production.table.number">Nummer</th>
                        <th class="text-center" jhiTranslate="in-house_production.table.sales_request">Vertriebswunsch</th>
                        <th class="text-center" jhiTranslate="in-house_production.table.direktverkaufsmenge">Direktverkaufsmenge</th>
                        <th class="text-center" jhiTranslate="in-house_production.table.warteliste_subkomponente">Warteliste Subkomponente</th>
                        <th class="text-center" jhiTranslate="in-house_production.table.safety_stock">Sicherheitsbestand</th>
                        <th class="text-center" jhiTranslate="in-house_production.table.last_period_stock">Bestand Vorperiode</th>
                        <th class="text-center" jhiTranslate="in-house_production.table.waiting_orders">Aufträge in Warteliste</th>
                        <th class="text-center" jhiTranslate="in-house_production.table.orders_in_progress">Aufträge in Bearbeitung</th>
                        <th class="text-center" jhiTranslate="in-house_production.table.production_orders">Produktionsaufträge(n+1)</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let element of inhouse_anzeige_array">
                <td class="text-center">{{element.nummer}}</td>
                <td class="text-center">{{element.vertriebswunsch}}</td>
                    <td class="text-center">{{element.direktverkaufsmenge}}</td>
                    <td class="text-center">{{element.warteliste_subkomponente}}</td>
                    <td>
                        <div class="form-group">
                            <input type="number" class="form-control" name="sicherheitsbestand{{element.nummer}}" id="sicherheitsbestand{{element.nummer}}"
                                   [(ngModel)]="element.sicherheitsbestand" required min="0" />
                        </div>
                    </td>
                <td class="text-center">{{element.bestand_vorperiode}}</td>
                <td class="text-center">{{element.auftraege_in_warteliste}}</td>
                <td class="text-center">{{element.auftraege_in_bearbeitung}}</td>
                <td class="text-center">{{element.produktionsauftraege}}</td>


            </tbody>
        </table>
    </div>

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary" (click)="berechneProduktionsauftraege()">
          <span jhiTranslate="entity.action.calculate">Berechnen</span>
        </button>
        <button type="submit" [disabled]="saveForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</div>
</form>
