<form name="saveForm" role="form" novalidate (ngSubmit)="saveArbeitsplatz()" #saveForm="ngForm"
      xmlns="http://www.w3.org/1999/html">
<div>
    <h2>
        <span jhiTranslate="capacity_planning.title">Kapazitätsplanung</span>
    </h2>
    <h3>
        <span>Kennzahlen</span>
    </h3>
    <div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <label class="label label-info">Kapazitätsauslastung</label>
                {{kapazitaetsauslastung_avg}} %
            </li>
            <li class="list-group-item">
                <label class="label label-info">Leerzeit: </label>
                {{leerzeit}} min
            </li>
            <li class="list-group-item">
                <label class="label label-info">Maschinenkosten: </label>
                {{maschinenkosten| currency: "EUR": 2}}
            </li>
            <li class="list-group-item">
                <label class="label label-info">Maschinenstillstandkosten: </label>
                {{maschinenstillstandkosten| currency: "EUR": 2}}
            </li>
            <li class="list-group-item">
                <label class="label label-info">Lohnkosten: </label>
                {{lohnkosten| currency: "EUR": 2}}
            </li>
            <li class="list-group-item">
                <label class="label label-info">Lohnleerkosten: </label>
                {{lohnleerkosten| currency: "EUR": 2}}
            </li>
        </ul>
    </div>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>

    <div class="table-responsive">
        <table id="capacity_planning" class="table table-striped">
             <thead>
                <tr>
                        <th class="text-center" jhiTranslate="capacity_planning.table.number">Nummer</th>
                        <th class="text-center" jhiTranslate="capacity_planning.table.capacity_last_period">Kapazität Vorperiode (n-1)</th>
                        <th class="text-center" jhiTranslate="capacity_planning.table.set-up_time_last_period">Rüstzeit Vorperiode (n-1)</th>
                        <th class="text-center" jhiTranslate="capacity_planning.table.capacity">Kapazität (n)</th>
                        <th class="text-center" jhiTranslate="capacity_planning.table.set-up_time">Rüstzeit (n)</th>
                        <th class="text-center" jhiTranslate="capacity_planning.table.reqiurement_of_time">Gesamter Zeitbedarf (n+1)</th>
                        <th class="text-center" jhiTranslate="capacity_planning.table.shifts">Schichten</th>
                        <th class="text-center" jhiTranslate="capacity_planning.table.overtime">Überstunden</th>
                    <th class="text-center">Kapazitätsauslastung</th>
                </tr>
            </thead>
            <tbody>
                        <tr *ngFor="let capacity of capacity_array; let i=index">
                        <td class="text-center">{{capacity.arbeitsplatznummer}}</td>
                        <td class="text-center">{{capacity.kapazitaetsbedarf_alt}}</td>
                        <td class="text-center">{{capacity.ruestzeit_alt}}</td>
                        <td class="text-center">{{capacity.kapazitaetsbedarf_neu}}</td>
                        <td class="text-center">{{capacity.ruestzeit_neu}}</td>
                        <td class="text-center">{{capacity.gesamter_kapazitaetsbedarf}}</td>
                            <td>
                                <div class="form-group">
                                    <input type="number" class="form-control" name="schichten{{i}}" id="schichten{{i}}"
                                           [(ngModel)]="capacity.schichten" required min="1" max="3"/>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="number" class="form-control" name="ueberstunden{{i}}" id="ueberstunden{{i}}"
                                           [(ngModel)]="capacity.ueberstunden" required min="0" max="240"/>
                                </div>
                            </td>
                            <td class="text-center">{{capacity.kapazitaetsauslastung}}</td>
                        <!--<td class="text-center">{{capacity.schichten}}</td>
                        <td class="text-center">{{capacity.ueberstunden}}</td>-->
            </tbody>
        </table>
    </div>

    <div class="btn-group" role="group">
    <button type="button"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span><span jhiTranslate="entity.action.back"> Back</span>
    </button>
        <button type="submit" [disabled]="saveForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    <button type="button" class="btn btn-primary" [routerLink]="['/abschluss']"
                replaceUrl="true">
        <span jhiTranslate="entity.action.next"> Weiter</span>
    </button>
    </div>

</div>
</form>
