<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div> 
    <h2>
        <span jhiTranslate="capacity_planning.title">Kapazitätsplanung</span>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
        <h1>
            <p class="lead" >Kapazitätsplanung</p> 
        </h1> 
    <div class="table-responsive">
        <table id="capacity_planning" class="table table-striped">
             <thead> 
                <tr> 
                        <th class="text-center" jhiTranslate="capacity_planning.table.number">Nummer</th> 
                        <th class="text-center" jhiTranslate="capacity_planning.table.capacity_last_period">Kapazität Vorperiode (n-1)</th> 
                        <th class="text-center" jhiTranslate="capacity_planning.table.set-up_time_last_period">Rüstzeit Vorperiode (n-1)</th>
                        <th class="text-center" jhiTranslate="capacity_planning.table.capacity">Kapazität (n)</th>
                        <th class="text-center" jhiTranslate="capacity_planning.table.set-up_time">Rüstzeit (n)</th> 
                        <th class="text-center" jhiTranslate="capacity_planning.table.reqiurement_of_time">Gesamter Zeitbedarf (n+1)</th>
                        <th class="text-center" jhiTranslate="capacity_planning.table.shifts">Schichten</th>
                        <th class="text-center" jhiTranslate="capacity_planning.table.overtime">"Überstunden"</th>
                </tr> 
            </thead> 
            <tbody> 
            </tbody> 
        </table>
    </div>
</div> 