<div>
    <h2>
        <span jhiTranslate="aimyApp.fertigungsauftrag.home.title">Fertigungsauftrags</span>
        <button class="btn btn-primary float-right jh-create-entity create-fertigungsauftrag" [routerLink]="['/', { outlets: { popup: ['fertigungsauftrag-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="aimyApp.fertigungsauftrag.home.createLabel">
            Create new Fertigungsauftrag
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="fertigungsauftrags">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="periode"><span jhiTranslate="aimyApp.fertigungsauftrag.periode">Periode</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nummer"><span jhiTranslate="aimyApp.fertigungsauftrag.nummer">Nummer</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="auftragsmenge"><span jhiTranslate="aimyApp.fertigungsauftrag.auftragsmenge">Auftragsmenge</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="kosten"><span jhiTranslate="aimyApp.fertigungsauftrag.kosten">Kosten</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="auftragsstatus"><span jhiTranslate="aimyApp.fertigungsauftrag.auftragsstatus">Auftragsstatus</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dlzminimal"><span jhiTranslate="aimyApp.fertigungsauftrag.dlzminimal">Dlzminimal</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dlzFaktor"><span jhiTranslate="aimyApp.fertigungsauftrag.dlzFaktor">Dlz Faktor</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="bearbeitungszeitmin"><span jhiTranslate="aimyApp.fertigungsauftrag.bearbeitungszeitmin">Bearbeitungszeitmin</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="herstellteil.nummer"><span jhiTranslate="aimyApp.fertigungsauftrag.herstellteil">Herstellteil</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let fertigungsauftrag of fertigungsauftrags ;trackBy: trackId">
                <td><a [routerLink]="['../fertigungsauftrag', fertigungsauftrag.id ]">{{fertigungsauftrag.id}}</a></td>
                <td>{{fertigungsauftrag.periode}}</td>
                <td>{{fertigungsauftrag.nummer}}</td>
                <td>{{fertigungsauftrag.auftragsmenge}}</td>
                <td>{{fertigungsauftrag.kosten}}</td>
                <td jhiTranslate="{{'aimyApp.Auftragstatus.' + fertigungsauftrag.auftragsstatus}}">{{fertigungsauftrag.auftragsstatus}}</td>
                <td>{{fertigungsauftrag.dlzminimal}}</td>
                <td>{{fertigungsauftrag.dlzFaktor}}</td>
                <td>{{fertigungsauftrag.bearbeitungszeitmin}}</td>
                <td>
                    <div *ngIf="fertigungsauftrag.herstellteil">
                        <a [routerLink]="['../teil', fertigungsauftrag.herstellteil?.id ]" >{{fertigungsauftrag.herstellteil?.nummer}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../fertigungsauftrag', fertigungsauftrag.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'fertigungsauftrag/'+ fertigungsauftrag.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'fertigungsauftrag/'+ fertigungsauftrag.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="fertigungsauftrags && fertigungsauftrags.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
