<form name="saveForm" role="form" novalidate (ngSubmit)="save()" #saveForm="ngForm">
<div> 
    <h2>
        <span jhiTranslate="purchased_part.title">Kaufteildisposition</span>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>

    <div class="table-responsive">
        <table id="purchase_part" class="table table-striped">
             <thead> 
                <tr> 
                        <th class="text-center" jhiTranslate="purchased_part.table.number">Nummer</th> 
                        <th class="text-center" jhiTranslate="purchased_part.table.inventory">Bestand</th> 
                        <th class="text-center" jhiTranslate="purchased_part.table.ld">Lieferdauer(max)</th>
                        <th class="text-center" jhiTranslate="purchased_part.table.discount">Discount</th>
                        <th class="text-center" jhiTranslate="purchased_part.table.need">Bruttobedarf (n+1)</th> 
                        <th class="text-center" jhiTranslate="purchased_part.table.delivery">Bestellung</th>
                        <th class="text-center" jhiTranslate="purchased_part.table.type">Art</th>
                </tr> 
            </thead> 
            <tbody> 
                        <tr *ngFor="let element of gesamtes_array; trackBy: trackId">     
                        <td class="text-center">{{element.nummer}}</td>
                        <td class="text-center">{{element.bestand}}</td>
                        <td class="text-center">{{element.lieferdauer}}</td>
                        <td class="text-center">{{element.diskontmenge}}</td>            
                        <td class="text-center">{{element.bruttobedarf}}</td>
                        <td class="text-center">{{element.bestellung}}</td>
                        <td class="text-center">{{element.art}}</td>
                
            </tbody> 
        </table>
    </div>
    
    <div class="btn-group" role="group">
    <button type="button"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span><span jhiTranslate="entity.action.back"> Back</span>
    </button>
    <button type="button" class="btn btn-primary" [routerLink]="['/capacity_planning']"
                replaceUrl="true">
        <span jhiTranslate="entity.action.next"> Weiter</span>
    </button>
    </div>
</div> 
</form>

