<div>
    <h2>
        <span jhiTranslate="abschluss.title">Abschluss</span>
    </h2>
    <jhi-alert></jhi-alert>
    <h3>
        <span>Kennzahlen Periode {{periode}}</span>
    </h3>
    <div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <label class="label label-info">Lohnkosten: </label>
                {{lohnkosten| currency: "EUR": 2}}
            </li>
            <li class="list-group-item">
                <label class="label label-info">Maschinenkosten: </label>
                {{maschinenkosten| currency: "EUR": 2}}
            </li>
            <li class="list-group-item">
                <label class="label label-info">Lagerkosten in: </label>
                {{lagerkosten| currency: "EUR": 2}}
            </li>
            <li class="list-group-item">
                <label class="label label-info">Bestellkosten: </label>
                {{bestellkosten| currency: "EUR": 2}}
            </li>
            <li class="list-group-item">
                <label class="label label-info">Materialkosten: </label>
                {{materialkosten| currency: "EUR": 2}}
            </li>
            <li class="list-group-item">
                <label class="label label-info">Gesamtkosten: </label>
                {{gesamtkosten| currency: "EUR": 2}}
            </li>
            <li class="list-group-item">
                <label class="label label-info">Kosten pro Stück: </label>
                {{kosten_pro_Stueck| currency: "EUR": 2}}
            </li>
            <li class="list-group-item">
                <label class="label label-info">Gesamtertrag: </label>
                {{gesamtertrag| currency: "EUR": 2}}
            </li>
            <li class="list-group-item">
                <label class="label label-info">Gesamtgewinn: </label>
                {{gesamtgewinn | currency: "EUR": 2}}
            </li>
            <li class="list-group-item">
                <label class="label label-info">Gewinn pro Stück: </label>
                {{gewinnproStueck| currency: "EUR": 2}}
            </li>
        </ul>
    </div>
    <div>
        <p class="lead" jhiTranslate="abschluss.normalverkauf">Normalverkauf</p>
    </div>
    <div class="table-responsive" *ngIf="teils">
    <table class="table table-striped">
        <thead>
        <tr>
            <th><span jhiTranslate="aimyApp.teil.teiltyp">Teiltyp</span></th>
            <th><span jhiTranslate="aimyApp.teil.nummer">Nummer</span></th>
            <th><span jhiTranslate="aimyApp.teil.vertriebswunsch">Vertriebswunsch</span></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let teil of teils ;trackBy: trackId">
            <td jhiTranslate="{{'aimyApp.Teiltyp.' + teil.teiltyp}}">{{teil.teiltyp}}</td>
            <td>{{teil.nummer}}</td>
            <td>{{teil.vertriebswunsch}}</td>
            <td class="text-right">
                <div class="btn-group flex-btn-group-container">
                    <button type="submit"
                            [routerLink]="['../teil', teil.id ]"
                            class="btn btn-info btn-sm">
                        <span class="fa fa-eye"></span>
                        <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                    </button>
                    <button type="submit"
                            [routerLink]="['/', { outlets: { popup: 'teil/'+ teil.id + '/edit'} }]"
                            replaceUrl="true"
                            class="btn btn-primary btn-sm">
                        <span class="fa fa-pencil"></span>
                        <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
    <div>
        <p class="lead" jhiTranslate="abschluss.direktverkauf">Direktverkauf</p>
    </div>
    <div class="table-responsive" *ngIf="teils">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span jhiTranslate="aimyApp.teil.teiltyp">Teiltyp</span></th>
                <th><span jhiTranslate="aimyApp.teil.nummer">Nummer</span></th>
                <th><span jhiTranslate="aimyApp.teil.direktverkaufmenge">Direktverkaufsmenge</span></th>
                <th><span jhiTranslate="aimyApp.teil.direktverkaufspreis">Direktverkaufspreis</span></th>
                <th><span jhiTranslate="aimyApp.teil.strafe">Strafe</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let teil of teils ;trackBy: trackId">
                <td jhiTranslate="{{'aimyApp.Teiltyp.' + teil.teiltyp}}">{{teil.teiltyp}}</td>
                <td>{{teil.nummer}}</td>
                <td>{{teil.direktverkaufmenge}}</td>
                <td>{{teil.direktverkaufspreis}}</td>
                <td>{{teil.strafe}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../teil', teil.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'teil/'+ teil.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <p class="lead"jhiTranslate="abschluss.bestellung">Bestellungen</p>
    </div>
    <div class="table-responsive" *ngIf="bestellungen">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span jhiTranslate="aimyApp.bestellung.nummer">Nummer</span></th>
                <th><span jhiTranslate="aimyApp.bestellung.kaufteil">Kaufteil</span></th>
                <th><span jhiTranslate="aimyApp.bestellung.kaufmenge">Kaufmenge</span></th>
                <th><span jhiTranslate="aimyApp.bestellung.modus">Modus</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bestellung of bestellungen ;trackBy: trackId">
                <td>{{bestellung.nummer}}</td>
                <td>
                    <div *ngIf="bestellung.kaufteil">
                        <a [routerLink]="['../teil', bestellung.kaufteil?.id ]" >{{bestellung.kaufteil?.nummer}}</a>
                    </div>
                </td>
                <td>{{bestellung.kaufmenge}}</td>
                <td>
                    <div *ngIf="bestellung.modus">
                        <a [routerLink]="['../modus', bestellung.modus?.id ]" >{{bestellung.modus?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../bestellung', bestellung.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bestellung/'+ bestellung.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <p class="lead" jhiTranslate="abschluss.auftrag">Produktionsaufträge</p>
    </div>
    <div class="table-responsive" *ngIf="fertigungsauftraege">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span jhiTranslate="aimyApp.fertigungsauftrag.nummer">Nummer</span></th>
                <th><span jhiTranslate="aimyApp.fertigungsauftrag.herstellteil">Herstellteil</span></th>
                <th><span jhiTranslate="aimyApp.fertigungsauftrag.auftragsmenge">Auftragsmenge</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let fertigungsauftrag of fertigungsauftraege|orderBy:'nummer';trackBy: trackId">
                <td>{{fertigungsauftrag.nummer}}</td>
                <td>
                    <div *ngIf="fertigungsauftrag.herstellteil">
                        <a [routerLink]="['../teil', fertigungsauftrag.herstellteil?.id ]" >{{fertigungsauftrag.herstellteil?.nummer}}</a>
                    </div>
                </td>
                <td>{{fertigungsauftrag.auftragsmenge}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../fertigungsauftrag', fertigungsauftrag.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'fertigungsauftrag/'+ fertigungsauftrag.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <p class="lead" jhiTranslate="abschluss.kappa">Kapazitätsplan</p>
    </div>
    <div class="table-responsive" *ngIf="arbeitsplaetze">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span jhiTranslate="aimyApp.arbeitsplatz.nummer">Nummer</span></th>
                <th><span jhiTranslate="aimyApp.arbeitsplatz.schicht">Schicht</span></th>
                <th><span jhiTranslate="aimyApp.arbeitsplatz.ueberstunden">Ueberstunden</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let arbeitsplatz of arbeitsplaetze ;trackBy: trackId">
                <td>{{arbeitsplatz.nummer}}</td>
                <td>{{arbeitsplatz.schicht}}</td>
                <td>{{arbeitsplatz.ueberstunden}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../arbeitsplatz', arbeitsplatz.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'arbeitsplatz/'+ arbeitsplatz.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
<div class="btn-group" role="group">
    <button type="button"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>
    <button type="button" class="btn btn-primary" (click)="export()">
        <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
    </button>
</div>
</div>
