<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTeilLabel" jhiTranslate="aimyApp.teil.home.createOrEditLabel">Create or edit a Teil</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!teil.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="teil.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aimyApp.teil.teiltyp" for="field_teiltyp">Teiltyp</label>
            <select class="form-control" name="teiltyp" [(ngModel)]="teil.teiltyp" id="field_teiltyp" >
                <option value="PRODUKT">{{'aimyApp.Teiltyp.PRODUKT' | translate}}</option>
                <option value="ERZEUGNIS">{{'aimyApp.Teiltyp.ERZEUGNIS' | translate}}</option>
                <option value="KAUFTEIL">{{'aimyApp.Teiltyp.KAUFTEIL' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aimyApp.teil.periode" for="field_periode">Periode</label>
            <input type="number" class="form-control" name="periode" id="field_periode"
                [(ngModel)]="teil.periode" required min="0" />
            <div [hidden]="!(editForm.controls.periode?.dirty && editForm.controls.periode?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.periode?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.periode?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.periode?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aimyApp.teil.nummer" for="field_nummer">Nummer</label>
            <input type="number" class="form-control" name="nummer" id="field_nummer"
                [(ngModel)]="teil.nummer" required min="1" />
            <div [hidden]="!(editForm.controls.nummer?.dirty && editForm.controls.nummer?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nummer?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nummer?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 1 }">
                    This field should be at least 1.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nummer?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aimyApp.teil.istmenge" for="field_istmenge">Istmenge</label>
            <input type="number" class="form-control" name="istmenge" id="field_istmenge"
                [(ngModel)]="teil.istmenge" min="0" />
            <div [hidden]="!(editForm.controls.istmenge?.dirty && editForm.controls.istmenge?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.istmenge?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.istmenge?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aimyApp.teil.startmenge" for="field_startmenge">Startmenge</label>
            <input type="number" class="form-control" name="startmenge" id="field_startmenge"
                [(ngModel)]="teil.startmenge" min="0" />
            <div [hidden]="!(editForm.controls.startmenge?.dirty && editForm.controls.startmenge?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.startmenge?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.startmenge?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aimyApp.teil.prozentsatz" for="field_prozentsatz">Prozentsatz</label>
            <input type="number" class="form-control" name="prozentsatz" id="field_prozentsatz"
                [(ngModel)]="teil.prozentsatz" min="0" />
            <div [hidden]="!(editForm.controls.prozentsatz?.dirty && editForm.controls.prozentsatz?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.prozentsatz?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.prozentsatz?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aimyApp.teil.lagerpreis" for="field_lagerpreis">Lagerpreis</label>
            <input type="number" class="form-control" name="lagerpreis" id="field_lagerpreis"
                [(ngModel)]="teil.lagerpreis" min="0" />
            <div [hidden]="!(editForm.controls.lagerpreis?.dirty && editForm.controls.lagerpreis?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.lagerpreis?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.lagerpreis?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aimyApp.teil.lagerwert" for="field_lagerwert">Lagerwert</label>
            <input type="number" class="form-control" name="lagerwert" id="field_lagerwert"
                [(ngModel)]="teil.lagerwert" min="0" />
            <div [hidden]="!(editForm.controls.lagerwert?.dirty && editForm.controls.lagerwert?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.lagerwert?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.lagerwert?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aimyApp.teil.sicherheitsbestand" for="field_sicherheitsbestand">Sicherheitsbestand</label>
            <input type="number" class="form-control" name="sicherheitsbestand" id="field_sicherheitsbestand"
                [(ngModel)]="teil.sicherheitsbestand" min="0" />
            <div [hidden]="!(editForm.controls.sicherheitsbestand?.dirty && editForm.controls.sicherheitsbestand?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.sicherheitsbestand?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.sicherheitsbestand?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aimyApp.teil.vertriebswunsch" for="field_vertriebswunsch">Vertriebswunsch</label>
            <input type="number" class="form-control" name="vertriebswunsch" id="field_vertriebswunsch"
                [(ngModel)]="teil.vertriebswunsch" min="0" />
            <div [hidden]="!(editForm.controls.vertriebswunsch?.dirty && editForm.controls.vertriebswunsch?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.vertriebswunsch?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.vertriebswunsch?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aimyApp.teil.gesamtproduktionsmenge" for="field_gesamtproduktionsmenge">Gesamtproduktionsmenge</label>
            <input type="number" class="form-control" name="gesamtproduktionsmenge" id="field_gesamtproduktionsmenge"
                [(ngModel)]="teil.gesamtproduktionsmenge" min="0" />
            <div [hidden]="!(editForm.controls.gesamtproduktionsmenge?.dirty && editForm.controls.gesamtproduktionsmenge?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.gesamtproduktionsmenge?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.gesamtproduktionsmenge?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aimyApp.teil.direktverkaufmenge" for="field_direktverkaufmenge">Direktverkaufmenge</label>
            <input type="number" class="form-control" name="direktverkaufmenge" id="field_direktverkaufmenge"
                [(ngModel)]="teil.direktverkaufmenge" min="0" />
            <div [hidden]="!(editForm.controls.direktverkaufmenge?.dirty && editForm.controls.direktverkaufmenge?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.direktverkaufmenge?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.direktverkaufmenge?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aimyApp.teil.direktverkaufspreis" for="field_direktverkaufspreis">Direktverkaufspreis</label>
            <input type="number" class="form-control" name="direktverkaufspreis" id="field_direktverkaufspreis"
                [(ngModel)]="teil.direktverkaufspreis" min="0" />
            <div [hidden]="!(editForm.controls.direktverkaufspreis?.dirty && editForm.controls.direktverkaufspreis?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.direktverkaufspreis?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.direktverkaufspreis?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aimyApp.teil.strafe" for="field_strafe">Strafe</label>
            <input type="number" class="form-control" name="strafe" id="field_strafe"
                [(ngModel)]="teil.strafe" min="0" />
            <div [hidden]="!(editForm.controls.strafe?.dirty && editForm.controls.strafe?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.strafe?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.strafe?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="aimyApp.teil.subkomponente" for="field_subkomponente">Subkomponente</label>
            <select class="form-control" id="field_subkomponente" multiple name="subkomponente" [(ngModel)]="teil.subkomponentes">
                <option [ngValue]="getSelected(teil.subkomponentes, teilOption)" *ngFor="let teilOption of teils; trackBy: trackTeilById">{{teilOption.nummer}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
