<div>
    <h2>
        <span jhiTranslate="aimyApp.teil.home.title">Teils</span>
        <button class="btn btn-primary float-right jh-create-entity create-teil" [routerLink]="['/', { outlets: { popup: ['teil-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="aimyApp.teil.home.createLabel">
            Create new Teil
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="teils">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="teiltyp"><span jhiTranslate="aimyApp.teil.teiltyp">Teiltyp</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="periode"><span jhiTranslate="aimyApp.teil.periode">Periode</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nummer"><span jhiTranslate="aimyApp.teil.nummer">Nummer</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="istmenge"><span jhiTranslate="aimyApp.teil.istmenge">Istmenge</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lagerpreis"><span jhiTranslate="aimyApp.teil.lagerpreis">Lagerpreis</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lagerwert"><span jhiTranslate="aimyApp.teil.lagerwert">Lagerwert</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="vertriebswunsch"><span jhiTranslate="aimyApp.teil.vertriebswunsch">Vertriebswunsch</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="gesamtproduktionsmenge"><span jhiTranslate="aimyApp.teil.gesamtproduktionsmenge">Gesamtproduktionsmenge</span> <span class="fa fa-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let teil of teils ;trackBy: trackId">
                <td><a [routerLink]="['../teil', teil.id ]">{{teil.id}}</a></td>
                <td jhiTranslate="{{'aimyApp.Teiltyp.' + teil.teiltyp}}">{{teil.teiltyp}}</td>
                <td>{{teil.periode}}</td>
                <td>{{teil.nummer}}</td>
                <td>{{teil.istmenge}}</td>
                <td>{{teil.lagerpreis}}</td>
                <td>{{teil.lagerwert}}</td>
                <td>{{teil.vertriebswunsch}}</td>
                <td>{{teil.gesamtproduktionsmenge}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../teil', teil.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'teil/'+ teil.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'teil/'+ teil.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="teils && teils.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
