
<div *ngIf="teil">
    <h2><span jhiTranslate="aimyApp.teil.detail.title">Teil</span> {{teil.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="aimyApp.teil.teiltyp">Teiltyp</span></dt>
        <dd>
            <span jhiTranslate="{{'aimyApp.Teiltyp.' + teil.teiltyp}}">{{teil.teiltyp}}</span>
        </dd>
        <dt><span jhiTranslate="aimyApp.teil.periode">Periode</span></dt>
        <dd>
            <span>{{teil.periode}}</span>
        </dd>
        <dt><span jhiTranslate="aimyApp.teil.nummer">Nummer</span></dt>
        <dd>
            <span>{{teil.nummer}}</span>
        </dd>
        <dt><span jhiTranslate="aimyApp.teil.istmenge">Istmenge</span></dt>
        <dd>
            <span>{{teil.istmenge}}</span>
        </dd>
        <dt><span jhiTranslate="aimyApp.teil.startmenge">Startmenge</span></dt>
        <dd>
            <span>{{teil.startmenge}}</span>
        </dd>
        <dt><span jhiTranslate="aimyApp.teil.prozentsatz">Prozentsatz</span></dt>
        <dd>
            <span>{{teil.prozentsatz}}</span>
        </dd>
        <dt><span jhiTranslate="aimyApp.teil.lagerpreis">Lagerpreis</span></dt>
        <dd>
            <span>{{teil.lagerpreis}}</span>
        </dd>
        <dt><span jhiTranslate="aimyApp.teil.lagerwert">Lagerwert</span></dt>
        <dd>
            <span>{{teil.lagerwert}}</span>
        </dd>
        <dt><span jhiTranslate="aimyApp.teil.sicherheitsbestand">Sicherheitsbestand</span></dt>
        <dd>
            <span>{{teil.sicherheitsbestand}}</span>
        </dd>
        <dt><span jhiTranslate="aimyApp.teil.vertriebswunsch">Vertriebswunsch</span></dt>
        <dd>
            <span>{{teil.vertriebswunsch}}</span>
        </dd>
        <dt><span jhiTranslate="aimyApp.teil.vertriebswunsch_naechste">Vertriebswunsch Naechste</span></dt>
        <dd>
            <span>{{teil.vertriebswunsch_naechste}}</span>
        </dd>
        <dt><span jhiTranslate="aimyApp.teil.vertriebswunsch_uebernaechste">Vertriebswunsch Uebernaechste</span></dt>
        <dd>
            <span>{{teil.vertriebswunsch_uebernaechste}}</span>
        </dd>
        <dt><span jhiTranslate="aimyApp.teil.vertriebswunsch_ueberuebernaechste">Vertriebswunsch Ueberuebernaechste</span></dt>
        <dd>
            <span>{{teil.vertriebswunsch_ueberuebernaechste}}</span>
        </dd>
        <dt><span jhiTranslate="aimyApp.teil.gesamtproduktionsmenge">Gesamtproduktionsmenge</span></dt>
        <dd>
            <span>{{teil.gesamtproduktionsmenge}}</span>
        </dd>
        <dt><span jhiTranslate="aimyApp.teil.direktverkaufmenge">Direktverkaufmenge</span></dt>
        <dd>
            <span>{{teil.direktverkaufmenge}}</span>
        </dd>
        <dt><span jhiTranslate="aimyApp.teil.direktverkaufspreis">Direktverkaufspreis</span></dt>
        <dd>
            <span>{{teil.direktverkaufspreis}}</span>
        </dd>
        <dt><span jhiTranslate="aimyApp.teil.strafe">Strafe</span></dt>
        <dd>
            <span>{{teil.strafe}}</span>
        </dd>
        <dt><span jhiTranslate="aimyApp.teil.warteliste_menge">Warteliste Menge</span></dt>
        <dd>
            <span>{{teil.warteliste_menge}}</span>
        </dd>
        <dt><span jhiTranslate="aimyApp.teil.inBearbeitung_menge">In Bearbeitung Menge</span></dt>
        <dd>
            <span>{{teil.inBearbeitung_menge}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'teil/'+ teil.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
