<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myArbeitsplatzLabel" jhiTranslate="aimyApp.arbeitsplatz.home.createOrEditLabel">Create or edit a Arbeitsplatz</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!arbeitsplatz.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="arbeitsplatz.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aimyApp.arbeitsplatz.periode" for="field_periode">Periode</label>
            <input type="number" class="form-control" name="periode" id="field_periode"
                [(ngModel)]="arbeitsplatz.periode"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aimyApp.arbeitsplatz.nummer" for="field_nummer">Nummer</label>
            <input type="number" class="form-control" name="nummer" id="field_nummer"
                [(ngModel)]="arbeitsplatz.nummer"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aimyApp.arbeitsplatz.restzeitbedarf" for="field_restzeitbedarf">Restzeitbedarf</label>
            <input type="number" class="form-control" name="restzeitbedarf" id="field_restzeitbedarf"
                [(ngModel)]="arbeitsplatz.restzeitbedarf"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aimyApp.arbeitsplatz.ruestvorgaenge" for="field_ruestvorgaenge">Ruestvorgaenge</label>
            <input type="number" class="form-control" name="ruestvorgaenge" id="field_ruestvorgaenge"
                [(ngModel)]="arbeitsplatz.ruestvorgaenge"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aimyApp.arbeitsplatz.leerzeit" for="field_leerzeit">Leerzeit</label>
            <input type="number" class="form-control" name="leerzeit" id="field_leerzeit"
                [(ngModel)]="arbeitsplatz.leerzeit"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aimyApp.arbeitsplatz.lohnleerkosten" for="field_lohnleerkosten">Lohnleerkosten</label>
            <input type="number" class="form-control" name="lohnleerkosten" id="field_lohnleerkosten"
                [(ngModel)]="arbeitsplatz.lohnleerkosten"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aimyApp.arbeitsplatz.lohnkosten" for="field_lohnkosten">Lohnkosten</label>
            <input type="number" class="form-control" name="lohnkosten" id="field_lohnkosten"
                [(ngModel)]="arbeitsplatz.lohnkosten"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aimyApp.arbeitsplatz.maschinenstillstandkosten" for="field_maschinenstillstandkosten">Maschinenstillstandkosten</label>
            <input type="number" class="form-control" name="maschinenstillstandkosten" id="field_maschinenstillstandkosten"
                [(ngModel)]="arbeitsplatz.maschinenstillstandkosten"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
