<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLosLabel" jhiTranslate="aimyApp.los.home.createOrEditLabel">Create or edit a Los</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!los.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="los.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aimyApp.los.periode" for="field_periode">Periode</label>
            <input type="number" class="form-control" name="periode" id="field_periode"
                [(ngModel)]="los.periode" required min="0" />
            <div [hidden]="!(editForm.controls.periode?.dirty && editForm.controls.periode?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.periode?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.periode?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.periode?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aimyApp.los.nummer" for="field_nummer">Nummer</label>
            <input type="number" class="form-control" name="nummer" id="field_nummer"
                [(ngModel)]="los.nummer" required min="1" />
            <div [hidden]="!(editForm.controls.nummer?.dirty && editForm.controls.nummer?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nummer?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nummer?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 1 }">
                    This field should be at least 1.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nummer?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aimyApp.los.menge" for="field_menge">Menge</label>
            <input type="number" class="form-control" name="menge" id="field_menge"
                [(ngModel)]="los.menge" min="0" />
            <div [hidden]="!(editForm.controls.menge?.dirty && editForm.controls.menge?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.menge?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.menge?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aimyApp.los.durchlaufzeit" for="field_durchlaufzeit">Durchlaufzeit</label>
            <input type="number" class="form-control" name="durchlaufzeit" id="field_durchlaufzeit"
                [(ngModel)]="los.durchlaufzeit" min="0" />
            <div [hidden]="!(editForm.controls.durchlaufzeit?.dirty && editForm.controls.durchlaufzeit?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.durchlaufzeit?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.durchlaufzeit?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aimyApp.los.kosten" for="field_kosten">Kosten</label>
            <input type="number" class="form-control" name="kosten" id="field_kosten"
                [(ngModel)]="los.kosten" min="0" />
            <div [hidden]="!(editForm.controls.kosten?.dirty && editForm.controls.kosten?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.kosten?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.kosten?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="aimyApp.los.fertigungsauftrag" for="field_fertigungsauftrag">Fertigungsauftrag</label>
            <select class="form-control" id="field_fertigungsauftrag" name="fertigungsauftrag" [(ngModel)]="los.fertigungsauftrag" >
                <option [ngValue]="null"></option>
                <option [ngValue]="fertigungsauftragOption.id === los.fertigungsauftrag?.id ? los.fertigungsauftrag : fertigungsauftragOption" *ngFor="let fertigungsauftragOption of fertigungsauftrags; trackBy: trackFertigungsauftragById">{{fertigungsauftragOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
